{{define "voucher"}}
<main class="flex flex-col items-center w-screen h-screen p-8 text-xl">
	<header>
		<h1 class="font-bold uppercase">recibo</h1>
	</header>

	<section class="mt-16 mb-8 text-justify">
		<span>
			&emsp;&emsp;&emsp;&emsp;Eu,
			<strong class="uppercase">{{.Owner.Fullname}}</strong>,
			{{.Owner.Qualification}}</span
		>
		<span><strong class="uppercase">recebi</strong> de </span>

		{{range .Tenants}}
		<span
			><strong class="uppercase">{{.Fullname}}</strong>,
			{{.Qualification}},</span
		>
		{{end}}

		<span
			>a quantia de <strong>R$ {{.Amount}} ({{.LongAmount}})</strong> referente
			ao pagamento do aluguel do mês de
			<strong class="italic">{{.ReferenceMonth}}/{{.ReferenceYear}}</strong>
			com vencimento em
			<strong class="italic">{{.ExpirationMonth}}/{{.ExpirationYear}}</strong>
			do contrato de locação do imóvel
			<span class="lowercase">{{.Kind}}</span> sito a
			<strong class="italic">{{.PropertyAddress}}.</strong></span
		>
	</section>

	<footer class="text-center">
		<p>
			{{.City}}/SP, {{.DueDay}} de {{.ExpirationMonth}} de {{.ExpirationYear}}.
		</p>

		<div class="border-b max-w-sm w-full mx-auto mt-16"></div>

		<strong class="uppercase">{{.Owner.Fullname}}</strong>
		<p class="uppercase italic text-sm">locador</p>
	</footer>
</main>
{{end}}
